.task-details-container{
    background: #444;
    margin: 15px 0;
    padding: 10px 15px;
    display: inline-flex;
    flex-direction: column;
    color: #DCDCDC;
    border-radius: 5px;
}
.task-details-container h2{
    margin-bottom: 5px;
    color: #20B2AA;
}

.back-button-container{
    width: 30%;
    margin-top: 10px;
}